<%- include ('../partials/header') %> <%- include ('../partials/menu') %>
<main> 
    <div class = "container"> 
        <h4>Posts</h4>
        <% topics.forEach(function(topic) { %>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= topic.subject %></h5>
                        <p width ="250px"
                            white-space="nowrap" 
                            overflow="hidden"
                            text-overflow="ellipsis" 
                            class="card-text"><%= topic.body %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</main>
<%- include ('../partials/footer') %> 

