<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <div class="vh-100" style="background-color: #CFB87C;">
        <div class="container"> 
            <br>
            <h3>BuffHeard</h3>
            <form action="add_post" method="get">
                <input class="buff-heard-button btn btn-primary" type="submit" value="New Post" />
            </form>
            </flex>
            <% topics.forEach(function(topic) { %>
                <br>
                <div class="card row-hover pos-relative py-3 px-3 mb-3 border border-top-0 border-right-0 border-bottom-0 rounded-1" href="/comments/<%=topic.post_id%>">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="text-black" style="font-size:25px;" ><%= topic.subject %></div>
                                <div class="row" style="padding-left:10px">
                                    <img class="img-account-profile rounded-circle mb-2" 
                                    src="<%= topic.profile_image %>" 
                                    width="20"
                                    height="20"
                                    alt="">
                                    <div class="text-black"style="padding-left:10px">
                                        <%= topic.username %>
                                    </div>
                                </div>
                            <div class="text-sm op-5"> 
                                <% if (topic.body.length > 97 ){ %>
                                    <span style="display: inline"><%= topic.body.substring(0, 97) %></span>
                                    <a href="#" style="display: inline">...</a>       
                                <% } else { %>
                                    <a class="text-black mr-2"><%= topic.body %></a>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row text-center op-7">
                                <div class="col px-1">
                                    <i class="ion-ios-chatboxes-outline icon-1x"></i> 
                                    <% var x = Boolean(false); %>
                                    <% comments.forEach(function(comment){ %>
                                        <% if(comment.post_id == topic.post_id){ %>
                                            <% x = Boolean(true); %>
                                            <div class="d-block text-sm"><%= comment.count %> replies</div> 
                                        <% } %>
                                    <% }) %>
                                    <% if(x == false){ %>
                                        <div class="d-block text-sm" >0 replies</div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <a class="view" style="position:absolute; height:100%; width:100%; opacity:0;" href="/comments/<%=topic.post_id%>">View</a>       
                </div>
            <% }); %>
            <br>
        </div>
    </div>
</main>
<%- include ('../partials/footer') %> 
