<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<!-- Inside Body -->



<main>
    <div class="vh-100" style="background-color: #CFB87C;">
    <div class = "container" style="padding-top:50px; padding-bottom:50px;">
        <div class="card row-hover pos-relative py-3 px-3 mb-3 rounded-1">    
            <h5 class="text-black" style="font-size:30px;"><%= topic.subject %></h5>
            <div class="text-sm op-5" style="font-size:20px;"><%= topic.body %></div>
            <div style="min-height: 400px;">
                <% if (topic.map) {%>
                    <div id="map"></div>
                <% } %>
            </div>
            <br>
            <p class="text-sm">
                <span class="op-6">Posted by</span>
                <a class="text-black" href="#">
                    <%= topic.username %>
                </a>
            </p>
            <a href="/newComment/<%=topic.post_id%>/0/<%=curr_user_id%>"style="margin-left:auto; margin-right:10px;">New Comment</a>
        </div>
        <h5 style="padding-left:30px;">Comments:</h5>
        <% comments.forEach(function(comment){ %>
            <% if(comment.chain == 0){ %>
                <div class="card row-hover pos-relative py-3 px-3 mb-3 border border-top-0 border-right-0 border-bottom-0 rounded-1" style="margin-left:20px">
                    <div class="row">
                        <img class="img-account-profile rounded-circle mb-2" 
                        src="<%= users[comment.user_id-1].profile_image %>" 
                        width="20"
                        height="20"
                        alt="">
                        <!--still need to include path to view profile-->
                        <a href="#" style="padding-left:10px"><%= users[comment.user_id - 1].username %></a>
                        <div class="text-sm op-6">:</div>
                        <div class="text-sm op-6" style="padding-left:10px;"><%= comment.body %></div>
                        <a href="/newComment/<%=topic.post_id%>/<%=comment.comment_id%>/<%=curr_user_id%>" style="margin-left:auto; margin-right:10px;">Reply</a>
                    </div>
                </div>
                <% var list_ids = [];%>
                <% list_ids.push(comment.comment_id); %>
                <% comments.forEach(function(comment1){ %>
                    <%if(list_ids.includes(comment1.chain)){ %>
                    <div class="card row-hover pos-relative py-3 px-3 mb-3 border border-top-0 border-right-0 border-bottom-0 rounded-1" style="margin-left:40px">
                        <div class="row">
                            <img class="img-account-profile rounded-circle mb-2" 
                            src="<%= users[comment1.user_id-1].profile_image %>" 
                            width="20"
                            height="20"
                            alt="">
                            <!--still need to include path to view profile-->
                            <a href="#" style="padding-left:10px"><%= users[comment1.user_id - 1].username %><a>
                            <div class="text-sm op-6">:</div>
                            <%comments.forEach(function(comments2){%>
                                <% if(comments2.comment_id == comment1.chain){ %>
                                    <a href="#" style="padding-left:5px">@<%= users[comments2.user_id-1].username %></a>  
                                    <% } %>
                            <%});%>
                            <div class="text-sm op-6" style="padding-left:5px;"><%= comment1.body %></div>
                            <a href="/newComment/<%=topic.post_id%>/<%=comment1.comment_id%>/<%=curr_user_id%>" style="margin-left:auto; margin-right:10px;">Reply</a>
                        </div>
                    </div>
                    <%list_ids.push(comment1.comment_id);%>
                <%}%>
            <% }); %>
            <%list_ids = [];%>
            <%}%>
        <% }); %>
    </div>
    </div>
</main>

<script>
	// TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
	mapboxgl.accessToken = 'pk.eyJ1Ijoic2Vhbi1jYXJ0ZXIiLCJhIjoiY2xoNGV6eTI3MDN6MzNsczJib2xzcGR5cyJ9.tj8Zaup8je-h9FLi0zJQhg';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [0, 52], // starting position [lng, lat]
        zoom: 5 // starting zoom
    });
</script>

<!-- For some reason the map only works when the style is on post.ejs itself, instead of in our stylesheet?
Maybe we could investigate this later. It's possible that the style is only applied after the map is rendered. -->

<style>
    #map { 
        position: absolute; 
        width: 50%; 
        height: 50%;
        border:3px solid gold;
    }
</style>

<%- include ('../partials/footer') %> 